* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h2 {
  font-size: 40px;
}

td {
  text-align: center;
}

button {
  border: none;
}

@media only screen and (orientation: portrait) {
  * {
    letter-spacing: 1px;
  }
}
